@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

main.container, .container.main {margin-left: 274px;}

@media (max-width: 575px) {
main.container, .container.main {margin-left: auto;}
}

@media (min-width: 576px) and (max-width: 767px) {
main.container, .container.main {margin-left: auto;}
}

@media (min-width: 768px) and (max-width: 991px) {
main.container, .container.main {margin-left: auto;}
}

@media (min-width: 992px) and (max-width: 1199px) {
main.container, .container.main {margin-left: auto;}
}

@media (min-width: 1200px) {
main.container, .container.main {margin-left: 274px;}
}