<div class="container spaced">
  
  <h1 class="text-center mt-5 mb-3">Status</h1>
    
  <div class="row mb-5" id="minionOverview" >
    <div class="col-sm-4 right-border pt-5">
      <div class="erroricon" routerLink="/minions" (click)="setRed()">
          <div class="col-sm-12">
            <i class="material-icons">error</i>
          </div>
          <div class="col-sm-12 total-minions">
            <div class="text-center minion-number">{{summary.MinionsOnRed}}</div>
            <div class="text-center minion-message"> Red <br class="d-lg-none d-md-none">issues</div>
          </div>
          <div class="col-sm-12 view-now p-1" >
            <div><a class="minionlink" routerLink="/minions" (click)="setRed()">View Now</a></div>
          </div>
      </div>
     </div>

    <div class="col-sm-4 right-border pt-5">
      <div class="warnicon" routerLink="/minions" (click)="setAmber()">
            <div class="col-sm-12">
              <i class="material-icons">warning</i>
            </div>
          <div class="col-sm-12 total-minions" >
            <div class="text-center minion-number">{{summary.MinionsOnAmber}}</div>
            <div class="text-center minion-message">Amber issues</div>
          </div>
          <div class="col-sm-12 view-now p-1">
              <div><a class="minionlink" routerLink="/minions" (click)="setAmber()">View Now</a></div>
        </div>
      </div>
    </div>

    <div class="col-sm-4 pt-5">
      <div class="allminionsicon" routerLink="/minions" (click)="setTotal()">
          <div class="col-sm-12">
            <i class="material-icons" >dns</i>
          </div>
          <div class="col-sm-12 total-minions" >
            <div class="text-center minion-number">{{summary.TotalMinions}}</div>
            <div class="text-center minion-message">Total installed</div>
          </div>
          <div class="col-sm-12 view-now p-1">
              <div><a class="minionlink" routerLink="/minions" (click)="setTotal()">View Now</a></div>
        </div>
      </div>
    </div>
  </div>

<span class="app-carousel mb-5"><app-carousel></app-carousel></span>   
<span class="app-search-bar"><app-search-bar></app-search-bar></span>
